<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="start"
     fxLayoutGap="10px">

  <div fxFlex *ngIf="dish">
    <mat-card fxFlex>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{dish.image}}" alt="{{dish.name}}">
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex [hidden]="dish || dishErrorMessage">
    <mat-spinner></mat-spinner><h4>Please Wait... loading</h4>
  </div>
  <div *ngIf="dishErrorMessage">
    <h2>Error Message</h2>
    <h5>{{dishErrorMessage}}</h5>
  </div>

  <div fxFlex *ngIf="promotion">
    <mat-card fxFlex>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{promotion.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{promotion.image}}" alt="{{BaseUrl+promotion.name}}">
      <mat-card-content>
        <p>{{promotion.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex [hidden]="promotion">
    <mat-spinner></mat-spinner><h4>Please Wait... loading</h4>
  </div>

  <div fxFlex *ngIf="leader">
  <mat-card fxFlex>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{leader.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{leader.image}}" alt="{{BaseUrl+leader.name}}">
    <mat-card-content>
      <p>{{leader.description}}
      </p>
    </mat-card-content>
  </mat-card>
  </div>
  <div fxFlex [hidden]="leader">
    <mat-spinner></mat-spinner><h4>Please Wait... loading</h4>
  </div>
</div>
